API_ID=32848522
API_HASH=b4c4a4f2eceb64c3f1ada53e8e5fefdc
TOKEN=8778449142:AAFT1M2KahaCZ-3ZOGlfuGi_yWFyL0WPmWA
STRING1=AQH1OooAmGiiSdo_SSYgO1j3-nqIeJdIJwVm5eohJC7LUVtNlDGABVqKOgqzWusk22fBTdah8A4v6FeL6BTLowL5UWnZTCXauKumvm99BjLHNdhqbGK86IhxbdQWVfs-_gTznpgA8BjPlkL-heiiGEHvofPfOULiPTkW4_brIVoKRDSng0RYip_zhqjxDMMJLf-J1Tac6YLA4aqkVNOYV7pRjrndcjkBNlrCk2Lyl0XB5Cxy8FJK52bJeS43lg3O3Cnk8D5EYmTWE7NwTJ-YmH_OtmgZFJIs25h-dI2aNhQJBSO0pj8vy_6-CAn9uHUYJ0RwEsogXXAGwYUo_c4e2TLoqUp2cwAAAAIUzA8yAA
MONGO_URI=mongodb+srv://biduan:biduan@cluster0.3uiosr7.mongodb.net/?appName=Cluster0
API_URL=https://api.onegrab.fun
API_KEY=0c51f9_uAlMwG2fglmPYn-X7WP3ZFav--OiuCYt
SONG_DURATION_LIMIT=3600
OWNER_ID=7586938131
LOGGER_ID=-1003996218782
DEFAULT_SERVICE=youtube
DB_NAME=zptelestreambot
DEVS=7586938131
ENABLE_VPLAY=false
